.outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.innerDiv{
    background-color: white;
    padding: 15px;
    width: 30rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;

}
.innerDiv p{
    display: inline;
    padding: 0 5px;
}