.card {
    min-width: 16vw;
    min-height: 16vw;
    max-height: 16vw;
    max-width: 16vw;

    background: #fff;
    border: 2px solid #323232;
    box-shadow: 4px 4px #323232;

    border-radius: 5px;
    text-align: start;
    padding: 25px;
    overflow-y:scroll;
    overflow-x: scroll;
    /* background-image: url('../../assets/cardImg.JPG');
    background-repeat: no-repeat;
    background-size: cover; */
    transition: all 0.5s ease-in-out;
    position: relative;
}
.card:hover{
    z-index: 10;
    transform: scale(1.5);
    box-shadow: none;
}
.card::-webkit-scrollbar {
    display: none;
}

.buttons:first-of-type{
    position: absolute;
    top: 5px;
    right: 40px;
    background-color: transparent;
    border: none;
}
.buttons:last-of-type{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
}
.buttons:last-of-type:hover{
    color: red;
}

@media (max-width: 980px){
    .card {
        min-width: 30vw;
        min-height: 30vw;
        max-height: 20vw;
        max-width: 20vw;
        padding: 20px;
    }
    .card:hover{
        transform: none;
    }
    .buttons{
        font-size: 8px;
    }
    .buttons:first-of-type{
        right: 30px;
    }
    .h1{
        font-size: 20px;
    }
    .h3{
        font-size: 15px;
    }
    .p{
        font-size: 10px;
    }
}